<!DOCTYPE html>
<html lang="en">
  <%- include('./parts/header.ejs') %>
  <body>
    <%- include('./parts/navBar.ejs') %>
    <div class="w-full h-screen flex items-center px-4">
      <form
        class="max-w-lg w-full mx-auto p-2.5 border border-gray-300 rounded-md shadow-md"
        action="/edit/<%=id%>"
        method="POST"
      >
        <div class="mb-5">
          <h2 class="text-[30px] text-center font-bold">Update Page</h2>
        </div>
        <div class="mb-5">
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your username</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value="<%=userInfo.username%>"
          />
          <% let username =validatorInput.find(value=>value.path=='username')%>
          <%if(username){%>
          <p class="text-sm text-red-500 mt-2"><%=username.msg%></p>

          <%}%>
        </div>
        <div class="mb-5">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@example.com"
            value="<%=userInfo.email%>"
          />
          <% let email =validatorInput.find(value=>value.path=='email')%>
          <%if(email){%>
          <p class="text-sm text-red-500 mt-2"><%=email.msg%></p>

          <%}%>
        </div>
        <div class="mb-5">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="file_input"
            >Upload file</label
          >
          <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="file_input"
            type="file"
            name="image"
          />
        </div>

        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Update
        </button>
        <% if(errorInRegistration){%>
        <div class="mt-5">
          <p
            class="text-white rounded-md py-2.5 bg-red-400 text-base text-center w-full"
          >
            <%=errorInRegistration%>
          </p>
        </div>
        <%}%>
      </form>
    </div>

    <%- include('./parts/footer.ejs') %>
  </body>
</html>
